body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


player-plate.base {
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  background-color: rgb(61, 184, 184);
  margin: 5px;
  align-self: left;
}

player-plate.playerName {
  font-size: 25px;
  font-weight: bold;
  align-self: center;
  display: block;
}

player-plate.avatar {
  height: 75px;
  width: 75px;
  align-self: center;
}

img.playerAvatar {
  width: 50px;
  height: 50px;
  align-self: center;
  margin: 5px;
}

player-plate.score {
  font-size: 15px;
  align-self:center;
  display: block;
}

role-displayer {
  font-weight: bold;
  font-size: 15px;


  background-color: rgb(255, 184, 184);
}

word-board{
  align-items:center;
  width: auto;
  height: 100%;
  background-color: azure;
  display:flex;
  border-style: dotted;
  justify-content: center;
}


word-boardtext {
  font-size: 30px;
  font-weight: bold;
  align-self: center;
  text-align: center;
}

word-boardtext.notext {
  font-size: 15px;
  color: gray;
  font-style: italic;
}

each-key {
  height: 50px;
  width: 50px;
  display: flex;
  background-color: rgb(48, 91, 91);
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-size:15px;
  color: white;
  margin: 2px;
  border-radius: 3px;
}

each-key.used {
  background-color: rgb(74, 128, 128);
  cursor: default;
  font-weight: lighter;
}

keyboard-panel {
  height: 200px;
  width: 650px;
  display:block;
  background-color: rgb(131, 187, 187);
  margin:5px;
  align-items:center;
  justify-content: center;
  border-radius: 5px;
}

each-row-of-keys {
  height: auto;
  width: auto;
  display:flex;
  align-self:center;
  justify-content: center;
}

keyboard-panel.overlay {
  position: absolute;
  background-color: rgba(0,0,0,0.75);
  font-weight: bold;
  text-align: center;
  color: white;
  font-style: italic;
  margin:0px;
  align-items: center;
  justify-content: center;
}

score-board {
  height: 200px;
  width: 400px;
  background-color:aquamarine;
  display: flex;
}

game-overlay {
  position: fixed; /* Sit on top of the page content */
  display: flex; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.75); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  color: white;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}


main-board {
  height: max-content;
  width: max-content;
  display: grid;
  grid-template-areas:
    'header header'
    'score board'
    'guesser-panel keyboard';
  grid-gap: 25px;
  background-color:rgb(155, 210, 210);
  padding: 10px;
  /* position: fixed; */
  /* top: 50%;
  left: 50%; */
  /* bring your own prefixes */
  /* transform: translate(-50%, -50%); */
}

main-board.overlay {

  position: absolute;
  background-color: rgba(191, 236, 255, 0.954);
  font-weight: bold;
  text-align: center;
  color: rgb(6, 54, 55);
  font-style: italic;
  font-size: 25px;
  margin:0px;
  display:flex;
  z-index: 2;
  align-items: center;
  justify-content: center;
}

player-score-cards-container {
  display: flex;
}